/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  font-size: 100%;
  font-family: "微软雅黑";
  /*color: #030d18;*/
  background-color: #f0eee1;
}

a {
  color: #f5484a;
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* --------------------------------

Javascript disabled

-------------------------------- */
.no-js .cd-fold-content.single-page {
  position: static;
  visibility: visible;
  height: auto;
  background-color: #dadcdc;
}
.no-js .cd-fold-content.single-page > * {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto -60px;
}
.push,
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed */
}
@media only screen and (min-width: 1170px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
    -moz-animation: animate-margin-top 0.3s;
    animation: animate-margin-top 0.3s;
    margin-top: 70px;
  }
}

@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
/* -------------------------------- 

Navigation

-------------------------------- */
.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #030d18;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
    background-color: transparent;
    box-shadow: none;
  }
}
#cd-img{
  width: 295px;
  height: 245px;
  margin-left: -50px;
  margin-top: -68px;
}

#cd-logo {
  float: left;
  margin-right: 3px;
}

@media only screen and (min-width: 768px) {
  #cd-logo {
    margin: 1px 0 0 0%;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }
  #cd-logo.is-hidden.slide-in {
    /* slide in when the secondary navigation gets fixed */
    left: 0%;
    opacity: 1;
    top:-2%

  }
}

.cd-primary-nav {
  /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../images/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
}
.cd-primary-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-primary-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-primary-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #000101;
  border-top: 1px solid #051426;
  color: #f0eee1;
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    /* reset navigation values */
    width: auto;
    height: auto;
    background: none;
  }
  .cd-primary-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-primary-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-primary-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-primary-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #030d18;
  }
}

/* -------------------------------- 

Intro

-------------------------------- */
#cd-intro {
  position: relative;
  height: 100px;
  background: url(../images/homebg2.png) no-repeat center center;
  background-size: cover;
  z-index: 2;
}
#cd-intro #cd-intro-tagline {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}
#cd-intro h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fffeff;
  text-shadow: 0 1px 3px rgba(255, 254, 255, 0.1);
}
@media only screen and (max-width: 768px){
  #cd-intro {
    height: 250px;
  }
}
@media only screen and (min-width: 768px) {
  #cd-intro {
    height: 400px;
  }
  #cd-intro #cd-intro-tagline {
    padding-top: 160px;
  }
  #cd-intro h1 {
    font-size: 14px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-intro {
    height: 600px;
  }
  #cd-intro h1 {
    font-size: 18px;
    font-size: 2rem;
  }
  #cd-intro #cd-intro-tagline {
    padding-top: 240px;
  }
}

.cd-btn {
  display: inline-block;
  padding: 1em 1.8em;
  margin-top: -15em;
  border-radius: 20em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(255, 255, 255);
}



.cd-secondary-nav, a, img, li{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}

/* Basic layout */

.cd-secondary-nav ul{
  list-style-type: none;
  float: right;
  margin-top: 50px;
}

.cd-secondary-nav li{
  display: inline;
  float: left;
}

img.logo{
  float: left;
}







.cd-secondary-nav{
  background-color: rgba(25, 19, 40, 0.75);
  /*border-bottom: 1px solid #aaaaaa;*/
  float: left;
  width: 100%;
  height: 120px;
  position: absolute;
  z-index: 1;
}

.cd-secondary-nav a{
  color: #969696;
  text-decoration: none;
  font-family: '微软雅黑', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 10px;
}

.cd-secondary-nav a.active, .cd-secondary-nav a:hover{
  color: #ffffff;
}

.cd-secondary-nav li{
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {

  .cd-secondary-nav{
    background-color: rgba(25, 19, 40, 0.75);
    float: left;
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 1;
  }
  .cd-secondary-nav ul{
    list-style-type: none;
    margin-top: 35px;
    float: left;
  }
  .cd-secondary-nav a{
    color: #969696;
    text-decoration: none;
    font-family: '微软雅黑', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .logo{
    display: none;
  }
  .cd-secondary-nav li{
    margin-right: 10px;
  }
}
/*-------------------------------------------------- *!/*/

.footer blockquote {
  background: url(http://huyugui:3000/../../images/quote1.png) no-repeat 50% 0;
  padding: 60px 0 0 0;
  text-align: center;
  color: #d8c431;
  border-left: 0px;
  margin: 0;
}
.footer blockquote footer {
  padding: 0 0 20px 0;
}
.footer blockquote footer p {
  font-size: .8em;
  text-transform: uppercase;
  display: block;
}
.footer blockquote p.testimonial {
  font-size: 1.5em;
  color: #D8C431;
}
.footer blockquote .name {
  color: #666;
  font-size: 0.8em;
  margin-bottom: 0;
}
footer h2, footer h3, footer h4 {
  color: #fff;
  font-weight: normal;
}
footer .copyright {
  border-bottom: 0px;
  font-size: 0.9em;
  margin-bottom: 40px;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_social {
  padding: 0px;
  margin: 0px;
  /*margin-top: 20px;*/
  right: 0px;
  padding-top: 0px;
  list-style-type: none;
  top: 51px;
}
.footer_social li {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}
.footer_social li:first-child {
  margin-left: 0px;
}
.footer_social li a {
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  border: 1px solid #000;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2);
  background-color: #0d0d0d;
  display: block;
  -webkit-transition: background-color 250ms ease-in-out;
  -moz-transition: background-color 250ms ease-in-out;
  -o-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
.footer_social li a:active {
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.8), 0px 1px 0px rgba(255,255,255,0.2);
  position: relative;
  top: 1px;
}
.footer_facebook {
  background: url('../images/footer_facebook.png') no-repeat 50% 50% #0d0d0d;
}
.footer_facebook:hover {
  background-color: #37589f;
}
.footer_twitter {
  background: url('../images/footer_twitter.png') no-repeat 50% 50% #0d0d0d;
}
.footer_twitter:hover {
  background-color: #1bd7ed;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.6);
}
.footer_googleplus {
  background: url('../images/footer_google.png') no-repeat 50% 50% #0d0d0d;
}
.footer_googleplus:hover {
  background-color: #b70000;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.6);
}
.footer {
  margin-top: 0px;
  border-top: 1px solid #e5e5e5;
  background: url(../images/bg_footer.png);
  padding: 60px 0 0 0;
  color: #919191;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #ffe015
}
.footer-links li {
  line-height: 32px;
  font-size: 12px;
  border-bottom: 1px solid #232323;

}
.footer-links li:hover {
  background: #1d1d1d;
}
/*bootstrap*/
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 940px;
}
.span1 {
  width: 940px;
}
.span2 {
  width: 220px;
}
.row-fluid {
  width: 100%;
  /*display: none;*/
  *zoom: 1;
}
.row-fluid:before, .row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span1 {
  width: 100%;
  *width: 99.94680851063829%;
}
.row-fluid .span2 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before, .container:after {
  display: table;
  line-height: 0;
  content: "";
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
.container-fluid:before, .container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.container-fluid:after {
  clear: both;
}
@media only screen and (min-width: 768px){
  .phone-li{
    display: none;
  }
}




@media only screen and (max-width: 768px) {
  /*-------------------------------------------------- *!/*/

  .footer blockquote {
    background: url(../images/quote1.png) no-repeat 50% 0;
    padding: 60px 0 0 0;
    text-align: center;
    color: #d8c431;
    border-left: 0px;
    margin: 0;
  }
  .footer blockquote footer {
    padding: 0 0 20px 0;
  }
  .footer blockquote footer p {
    font-size: .8em;
    text-transform: uppercase;
    display: block;
  }
  .footer blockquote p.testimonial {
    font-size: 1.5em;
    color: #D8C431;
  }
  .footer blockquote .name {
    color: #666;
    font-size: 0.8em;
    margin-bottom: 0;
  }
  footer h2, footer h3, footer h4 {
    color: #fff;
    font-weight: normal;
  }
  footer .copyright {
    border-bottom: 0px;
    font-size: 0.9em;
    margin-bottom: 40px;
    display: none;
  }
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer_social {
    padding: 0px;
    margin: 0px;
    /*margin-top: 20px;*/
    right: 0px;
    padding-top: 0px;
    top: 51px;
    /*display: none;*/
  }

  .footer_social li {
    float: left;
    /*margin-left: 5px;*/
    /*display: none;*/
  }
  .footer_social li:first-child {
    margin-left: 0px;
  }
  .footer_social li a {
    width: 28px;
    height: 28px;
    text-indent: -9999px;
    border: 1px solid #000;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2);
    background-color: #0d0d0d;
    display: block;
    -webkit-transition: background-color 250ms ease-in-out;
    -moz-transition: background-color 250ms ease-in-out;
    -o-transition: background-color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
  }
  .footer_social li a:active {
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.8), 0px 1px 0px rgba(255,255,255,0.2);
    position: relative;
    top: 1px;
  }
  .footer_facebook {
    background: url('../images/footer_facebook.png') no-repeat 50% 50% #0d0d0d;
  }
  .footer_facebook:hover {
    background-color: #37589f;
  }
  .footer_twitter {
    background: url('../images/footer_twitter.png') no-repeat 50% 50% #0d0d0d;
  }
  .footer_twitter:hover {
    background-color: #1bd7ed;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.6);
  }
  .footer_googleplus {
    background: url('../images/footer_google.png') no-repeat 50% 50% #0d0d0d;
  }
  .footer_googleplus:hover {
    background-color: #b70000;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.6);
  }

  .footer a {
    color: #fff;
  }
  .footer a:hover {
    color: #ffe015
  }
  .footer-links li {
    line-height: 32px;
    font-size: 12px;
    border-bottom: 1px solid #232323;

  }
  .footer-links li:hover {
    background: #1d1d1d;
  }
  /*bootstrap*/
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 90%;
  }
  .span1 {
    width: 90%;
  }
  .span2 {
    width: 30%;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before, .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span1 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span2 {
    width: 23.404255319148934%;
    *width: 23.351063829787233%;
  }
  .row-fluid .span2:nth-child(3){
    width: 40%;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
  }
  .container:before, .container:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .container:after {
    clear: both;
  }
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    *zoom: 1;
  }
  .container-fluid:before, .container-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .container-fluid:after {
    clear: both;
  }
  .phone-li li{
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  }
  .span2{
    display: none;
  }
}
