<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/example.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="../css/component.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.useso.com/css?family=Raleway:400,500,800">
    <script src="../js/example.js"></script>
</head>

<body>

<div class="cd-secondary-nav">
    <ul>
        <li><a href="../index.html">主页</a></li>
        <li><a href="../view/wechat.html">产品展示</a></li>
        <li><a class="active" href="../view/example.html">案例展示</a></li>
        <li><a href="../view/about.html">关于我们</a></li>
    </ul>
</div>

<div class="cd-fixed-bg cd-bg-1">
</div>
<div class="cd-scrolling-bg cd-color-2">
    <div class="cd-container">
        <p>
            学生系统，主要针对在校学生的一款使用app。你可以通过它来实现校园生活的大多数事情。
        </p>
        <ul>
            <li>
                请假，你不再需要请假条，直接在app上申请。
            </li>
            <li>
                接受信息，大学里，各种调课、各种会议、各种表演你都不会再错过
            </li>
            <li>
                自带课表，什么炒鸡课程表可以卸载啦！
            </li>
            <li>
                通讯录，把珍惜都他们记录在里面
            </li>
        </ul>

        <img class="cd-container-img" src="../images/11.png" style="margin-left: 1%">
    </div>
</div>

<div class="cd-fixed-bg cd-bg-2">
</div>

<div class="cd-scrolling-bg cd-color-3">
    <div class="cd-container">
        <p>
            现在的你是不是出门都是开着自己的爱车呢！车越来越多，那么车的维修问题也就越来越多。我们的汽车维修平台就出现啦！你可以再我们的平台上做什么
        </p>
        <ul>
            <li>
                用户可以预约、查看维修案例、查询维修价格、享有维修优惠
            </li>
            <li>
                商家可以 发布最新的产品、查看自己的预约情况、发布案例
            </li>
        </ul>
        <img class="cd-container-img" src="../images/11.png" style="margin-left: 1%">
    </div>
</div>

<div class="cd-fixed-bg cd-bg-3">
</div>

<div class="cd-scrolling-bg cd-color-1">
    <div class="cd-container">
        <p>
            你还在到处逛水果市场，只为买到性价比高到水果吗？在互联网与物流业快速发展的时代，就连买水果你都可以不用出门，就可以坐等享用啦
        </p>

        <ul>
            <li>
                水果市场，在这里面，你不用在亲力亲为地去跑菜市场，只需要通过实时的数据即可了解市场上各种水果最新、最优惠的价格了
            </li>
            <li>
                预约购买，看到性价比高的水果了，心动了，那就行动，进入订购页面即可买到了，最重要的一点是有专人送上门！习惯了叫外卖，再顺手叫个水果快递吧，简直不能更完美了
            </li>
        </ul>
        <img class="cd-container-img" src="../images/11.png" style="margin-left: 1%">

    </div>
</div>


</body>
</html>