<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://127.0.0.1:3000/../../css/item.css">
    <!--<link rel="stylesheet" href="http://127.0.0.1:3000/../../css/intro.css">-->
</head>
<body>

<div class="cd-fold-content single-page">
    <h1>关于博峰科技有限公司</h1>
    <!--<img src="http://huyugui.ddns.net:3000/../../images/fruit.png" style="height: 500px;width: 250px">-->
    <p>珠海博峰科技有限公司是一家专业从事移动互联网APP开发与移动互联网营销服务的公司，为客户提供专业化的ios、android等移动平台软件开发，php、java等服务器平台开发，另外还从事网站、微网站、GUI等产品的设计和研发。我们在互联网领域拥有多年的实践经验、一流的管理和开发团队，已经为多家企事业单位提供了专业优质的服务，并受到了客户的一致好评。我们的团队包括多位ios开发工程师、android开发工程师以及服务器开发人员，另外还包括资深的UI设计师，在App程序开发、用户体验设计、UI设计、App运营与推广方面拥有丰富的行业经验。</p>
    <p>珠海博峰以“紧跟潮流，专业创新，服务至上”的服务理念，以坚持“一切以客户利益为导向”为价值追求...</p>
</div>


</body>
</html>